.searchbar input {
    // height: 30px;
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    // background: lightcyan;
    padding: 10px 15px;
    border: 1px solid lightseagreen;
    font-size: 18px;
}