.sidebarParent {
    width: 4%;
    // background: white;
    background: lightcyan;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    // padding: 10px 0;

    .topSection {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 15px;

        .iconContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            color: white;
        }

        .logo {
            width: 50px;
            height: 50px;
            margin: 0 auto;
            cursor: pointer;
            border-radius: 8px;
            background: lightseagreen;
            display: flex;
            justify-content: center;
            align-content: center;
        }

        .icons {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            cursor: pointer;
            font-size: 24;
            color: lightseagreen;
        }
    }

    .bottomSection {
        display: flex;
        gap: 15px;
        flex-direction: column;

        .icons {
            color: lightseagreen;
            cursor: pointer;
        }

        .profilePic {
            width: 45px;
            height: 45px;
            margin: 0 auto 15px auto;
            cursor: pointer;
            border-radius: 50px;
            background: lightcoral;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}